//- Modal form for creating/editing an event. `event` is the form model
//- (see toFormModel); `mode` is 'new' or 'edit'.
.dialog-backdrop(onclick="if(event.target===this) document.getElementById('dialog').replaceChildren()")
  form.event-form(
    hx-post=(mode === 'new' ? '/events' + (tq || '') : null)
    hx-put=(mode === 'edit' ? '/events/' + event.id + (tq || '') : null)
    hx-target='#dialog'
    hx-swap='innerHTML'
  )
    h2= mode === 'new' ? 'New event' : 'Edit event'

    if error
      .form-error= error

    label.field
      span Title
      input(type='text' name='title' value=event.title required autofocus)

    if timelines && timelines.length
      label.field
        span Timeline
        select(name='timelineId')
          each t in timelines
            option(value=t._id selected=(String(t._id) === String(event.timelineId)))= t.name

    label.field
      span Date
      input(type='date' name='date' value=event.date required)

    label.checkbox
      input(type='checkbox' name='allDay' checked=event.allDay)
      span All day

    .times
      label.field
        span Start
        input(type='time' name='startTime' value=event.startTime)
      label.field
        span End
        input(type='time' name='endTime' value=event.endTime)

    label.field
      span Color
      input(type='color' name='color' value=event.color)

    label.field
      span Notes
      textarea(name='notes' rows='2')= event.notes

    .form-actions
      button.btn.ghost(type='button' onclick="document.getElementById('dialog').replaceChildren()") Cancel
      button.btn.primary(type='submit') Save
